body {
  max-width: 375px;
  margin: auto;
  background: gray;
}

img {
  display: block;
  max-width: 100%;
}





@font-face {
  font-family: "Noteworthy";
  src: url("https://www.cufonfonts.com/download/font/noteworthy");
}
 
@font-face {
  font-family: "Graffiti City";
  src: url("https://www.cufonfonts.com/download/font/graffiti-city");
}
 

h1,
h2 {
  font-family: "Graffiti City", Arial ;
  margin: 0;
  padding: 8px;
  font-size: 20px;
  color: #D24F4F;
}

h1 {
  font-size: 40px;
}




.menu {
  background: black;
  padding: 20px;
}

.main {
  background: white;
  padding: 20px;
}







h4,
p,
li {
  font-family: 'Noteworthy', Arial;
  font-weight: bold;
  color: #000;
}

h1,
h2,
nav,
h3,
h4 {
  text-align: center;
}

.banniere {
  margin-top: 60px;
  margin-bottom: 30px;
}

.invite {
  margin: auto;
}




hr {
  height: 1px;
  background-color: #D24F4F;
  border: none;
}

.credit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: #D24F4F;
  
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background: #000;
}

.image {
  max-width: 105px;
}





.reseaux {
  max-width: 40px;
  
}





.container-reseaux {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 25px;
  text-align: center;
}



.navigation {
  text-decoration: none;
  font-family: "Noteworthy", Arial;
  color: #D24F4F;
  font-size: 17px;  
}



.menu-row {
  display: flex;
}

.menu-column {
  flex: 1;
  text-align: center;
  border: 2px solid black;
  background: white;
}

.menu-column1 {
  flex: 2;
  text-align: center;
  border: 2px solid black;
  background: white;
}

strong {
  color: #D24F4F;
}

.footer {
  color: #D24F4F;
  text-align: center;
}

.tact {
  font-weight: 100;
  color: #D24F4F;
  text-align: center;
font-size: 27px;
}